* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

footer p {
    text-align: center;
    font-size: small;
    opacity: 50%;
}

.flex-container-column {
    display: flex;
    flex-direction: column;

    /* properti pendukung */
    max-width: 800px;
    margin: 5% auto;
    text-align: right;
}

.flex-container-row {
    display: flex;
}

.button {
    flex-basis: 25%;
    /* margin: 60px; */
    /* properti pendukung */
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 0;
    border: none;
    /* background: -webkit-linear-gradient(top, #d2d2d2, #ddd); */
    background: hsl(340deg 100% 32%);
    cursor: pointer;
    border-radius: 2px;
    opacity: 100%;
    transition: 50ms;
    border-radius: 40px;
    margin: 10px;
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);


}

.button:hover .front {

    font-weight: bold;
    transform: translateY(-6px);
}

.button:active .front {
    transform: translateY(-2px);
}

.double {
    flex-basis: 50%;
}

.display {
    padding: 5px 50px 5px 5px;
    color: white;
    background-color: #9a07b8;
    font-size: 2em;
    width: 100%;
    padding: 70px;
    border: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



.card {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
    /* margin-top: 2px; */
    border-radius: 20px;

}



/* Media Query */
@media screen and (max-width: 513px) {
    .button {
        padding: 10px;
    }

    .display h1 {
        margin: 2px auto;
        font-size: 1.5em;
    }
}

.pencetan {
    margin-top: -20px;
    /* border: 2px solid black; */
    border-radius: 20px;
    padding: 20px 5px;
    position: relative;
    background: -webkit-linear-gradient(top, #c90af0, #32043b);
    box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.2);
}

.front {
    display: block;
    /* margin: 20px; */
    padding: 50px;
    border-radius: 40px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-9px);
    will-change: transform;
    transition: transform 250ms;
}

.button:focus:not(:focus-visible) {
    outline: none;
}

.clear {
    background: blue;
}

.mbuh {
    background: lightskyblue;
}

.operator,
.negative,
.equals {
    background: darkorange;
}

.o-second,
.n-second,
.e-second {
    background: yellow;
}